
.ant-layout-sider .logo {
  height: 140px;
  width:100%;
  background: rgba(255, 255, 255, 0.2);
  background:url('../../asset/image/bird.jpg') no-repeat center;
  background-size: cover;
}
.ant-layout-header{
  color:#fff;
  font-size:18px;
  text-align:center;
}

.site-layout-background {
  background: #fff;
}